db_user=admin
db_password=admin
db_host=localhost:5432
db_name=document_index
frontend_origin=http://localhost:3050
db_url=postgresql+psycopg2://${db_user}:${db_password}@${db_host}/${db_name}
s3_bucket_name=index
s3_login=admin
s3_password=password
s3_url=http://localhost:9000
pager_url=http://localhost:8000
embedding_model_path=C:/Users/check/Downloads/distiluse-base-multilingual-cased-v1
qdrant_url=http://localhost:6333
qdrant_api_key=your_secret_api_key_here
embedding_text_size=500
embedding_text_overlap=100
qwen_path=C:/Users/howto/Downloads/SemanticSearch/MyNewProject/QwenQwen2.5-7B-Instruct